.footer-container {
    height: 35rem;
    /* background-color: #203060; */
}

.footer-grid-container {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 0.5fr 0.42fr 0.08fr;
    /* background-color: #203060; */
}

.footer-top-grid {
    grid-row: (1,2);
    background-color: #203060;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.footer-details-container {
    height: 18rem;
    width: 76rem;
    background-color: white;
    
}

.footer-details-notes {
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* background-color: blue; */
}

.footer-email-form {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 2.5rem;
    /* background-color: red; */
}

#footer-email {
    width: 20rem;
    height: 2.5rem;
    border-radius: 5px;
    padding: 0.25rem;
    background: transparent;
    border-top: 1.5px solid !important;
    border-left: 1.5px solid !important;
    border-right: transparent !important;
    border-bottom: 1.5px solid !important;
    /* border: 1.5px solid !important; */
    font-weight: 200;
    color: #50E3C2;
    box-shadow: none;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 0.8rem;
      /* border-bottom: solid black 5px; */
  }

  .footer-button-container {
    height: 3.15rem;
    width: 160px;
    background-color: #50E3C2;
    color: #203060;
    display: flex;
    justify-content: flex-start;
    margin-left: -10px;
    margin-top: 2rem;
    border-radius: 5px; 
    text-align: center;
    box-shadow: none;
    border: solid #50E3C2 1px;
  }

  #footer-button {
    padding-left: 1.5rem;
    font-size: 0.8rem;
    font-weight: semi-bold;
    box-shadow: none;
    /* border: solid #50E3C2; */
     /* text-align: center;
           color: green; */
 }


.footer-middle-grid {
    grid-row: (2,3);
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
}

.footer-middle-links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: red;
}


.footer-bottom-grid {
    grid-row: (3,3);
    /* background-color: red; */
}

.copyright-terms-box {
    height: 100%;
    width: 100%;
    background-color: #203060;
    /* background-color: red;  */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}