.footer-container {
    height: 70rem;
    /* background-color: green; */
}

.footer-grid-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 0.6fr 0.42fr 0.08fr;
    /* background-color: #203060; */
}

.footer-top-grid {
    grid-row: (1,2);
    background-color: #203060;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.footer-details-container {
    height: 20rem;
    width: 76rem;
    margin-top: 10rem;
    background-color: white;
    box-shadow: -8px -8px 29px rgba(194, 207, 241, 0.109488), 6px 6px 29px rgba(194, 207, 241, 0.220533);
}

.footer-details-notes {
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #203060;
    margin-top: 2.3rem;
    /* background-color: blue; */
}

.footer-email-form {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 2.5rem;
    margin-right: 30px;
    font-family: 'Open sans', sans-serif;
    /* background-color: red; */
}

#footer-email {
    width: 20rem;
    height: 2.5rem;
    border-radius: 5px;
    padding: 0.25rem;
    padding-left: 20px;
    background: transparent;
    border-top: 1.5px solid !important;
    border-left: 1.5px solid !important;
    border-right: transparent !important;
    border-bottom: 1.5px solid !important;
    /* border: 1.5px solid !important; */
    font-weight: 200;
    color: #50E3C2;
    box-shadow: none;
    text-decoration: none;
    font-size: 0.8rem;
    font-family: 'Open sans', sans-serif;
      /* border-bottom: solid black 5px; */
  }

  .footer-button-container {
    height: 3.2rem;
    width: 142px;
    background-color: #50E3C2;
    color: #203060;
    display: flex;
    justify-content: flex-start;
    margin-left: -10px;
    margin-top: 2rem;
    border-radius: 0px 5px 5px 0px; 
    text-align: center;
    box-shadow: none;
    border: solid #50E3C2 1px;
  }

  #footer-button {
    
    padding-left: 21px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: none;
    font-family: 'Open sans', sans-serif;
    /* border: solid #50E3C2; */
     /* text-align: center;
           color: green; */
 }


.footer-middle-grid {
    grid-row: (2,3);
    background-color: white; 
    width: 100%;
    height: 100%;
    /* display: flex;
    justify-content: center;
    align-items: flex-end; */
    /* background-color: red;  */
    /* height: 100%; */
}

.footer-middle-links-container {
    height: 30%;
    width: 80%;
    /* background-color: purple; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: flex-end; */
    margin-left: 10rem;
    margin-top: -4rem;
}

.footer-social-media-container {
    height: 20%;
    width: 30%;
    /* background-color: red; */
    margin-left: 35rem;
    display: flex;
    justify-content: center;
}

.twitter {
    margin-right: 1rem;
}


.insta {
    margin-right: 1rem;
}

.footer-navbox {
    text-align: center;
    display: flex;
  /* justify-content: center; */
    align-items: center;
    /* background-color: red; */
   
    margin-left: 85px;
}

.footer-navitem {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    margin-top: 0.8rem;
    padding: 10px 0 25px;
    margin-right: 2rem;
     /* background-color: red; */
}

.footer-logo-box {
    display: flex;
    flex-direction: row;
    /* background-color: yellow; */
    margin-left: 60px;
    margin-right: 30px;
  }
  
  .footer-luca-logo {
    width: 230px;
    height: auto;
    margin-right: 2.5rem;
    margin-left: -1rem;
    /* background-color: yellow; */
  }


.footer-bottom-grid {
    grid-row: (3,3);
    /* background-color: yellow; */
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.copyright-terms-box {
    height: 38px;
    width: 100%;
    background-color: #203060;
    /* background-color: red;  */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: regular;
}

.second-last-copyright-box {
    /* background-color: red; */
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 0.2rem;
}

.copyright-font {
    display: flex;
    justify-content: center;
    font-size: 0.7rem;
}

.most-bottom-font {
    font-size: 11px;
}

.middle-box-shadow {
    /* background-color: red; */
    height: 120px;
    width: 1216px;
    margin-left: 345px;
    margin-bottom: 9.2rem;
    /* margin-top: -0.3rem; */
    box-shadow: -8px 16px 20px rgba(194, 207, 241, 0.109488), 6px 18px 26px rgba(194, 207, 241, 0.220533);
    /* margin-left: 10rem; */
}