@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Roboto:100,300,400,500,700,900&display=swap');

.home-page {
    font-family: 'Open sans', sans-serif;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section {
    height: 100vh;  
    width: 100%;
    margin: 0px;
    /* padding: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
/*   
    justify-content: space-evenly;
    align-items: center;
   */
  }


    .section-title {
      margin-left: 30px;
      font-size: 50px;
      text-align: left;
      /* background-color: green; */
      height: 65px;
      width: 650px;
      font-family: 'Open sans', sans-serif;
      font-weight: 700;
      line-height: 68px;
      color: #203060;
    }
    .section-content {
      height: 100%;
      width: 600px;
      margin-right: 20px;
      display: flex;  
      flex-direction: column;
      justify-content: center;
      align-items: center;
    } 

    .greenbox {
      position: absolute;
      width: 483px;
      height: 26px;
      /* left: 122px; */
      top: 453px;
      background: #50E3C2;
      z-index: -1;
    }
   
      /* hr {
        width: 50px;
        background-color: #6B78BA;
        border: none;
        height: 2px;
        margin: 20px 0;
      } */
 

      .section-title-box-left {
        height: 50vh;  
        width: 50%;
       
        /* background-color: red; */
      }

      .home-notes {
        /* height: 20vh;   */
        height: 80px;
        padding: 2px;
        width: 60%;
        text-align: left;
        color: rgba(35, 44, 68, 0.78);
        /* background-color: blue; */
        margin-left: 1.6rem;
        line-height: 190%;
      }
      
      .home-button {
          height: 56px;
          width: 180px;
          background-color: #50E3C2;
          color: #203060;
          /* display: flex;
          justify-content: center; */
          margin-left: 1.5rem;
          margin-top: 2rem;
          border-radius: 8px; 
          /* text-align: center; */
          box-shadow: none;
          border: solid #50E3C2 1px;
          /* padding-bottom: 10px; */
      }
      /* flex-direction: column; */
 
      .home-button:hover {
        /* box-shadow: */
        /* 1px 1px #53a7ea,
        2px 2px #53a7ea,
        3px 3px #53a7ea; */
        -webkit-transform: translateY(-3px);
        transform: translateY(-3.5px);
        transition: transform .3s ease;
      }

     #get-1 {
         /* padding: -1rem 1rem 0rem 0rem; */
         padding-left: 0.5rem;
         /* padding-top: -10rem; */
         /* font-size: 3rem; */
         font-style: normal;
         font-weight: 600px;
         box-shadow: none;
         color: #203060;
         /* border: solid #50E3C2;
           text-align: center;
                color: green;  */
     }
        



       .email-form { 
          display: flex;
          justify-content: flex-start;
          align-items: flex-end;
          /* background-color: red; */
      }

      #email {
        width: 13rem;
        padding-bottom: 0.4rem;
        background: transparent;
        border-top: transparent !important;
        border-left: transparent !important;
        border-right: transparent !important;
        border-bottom: 1.5px solid !important;
        font-weight: 200;
        color: #50E3C2;
        padding-left: 0;
        box-shadow: none;
        text-decoration: none;
        letter-spacing: 2px;
        font-size: 0.8rem;
          /* border-bottom: solid black 5px; */
      }
    
    .form-inline {
        margin-left: 1.7rem;
  }

  .finger-pointer {
    margin: 2px;
  }

  .Xero-icon {
  

  }

  .Hero-image {
    margin-top: 10rem;
    margin-right: 6rem;
    /* height: 100px; */
  }

  .Myob-icon {
    margin-top: 1rem;
    margin-right: 48rem;
    /* height: 100px; */
    /* position: absolute; */
  }

  @media only screen and (max-width: 1680px) {

    
    .greenbox {
      margin-top: -1rem;
    }


    .Hero-image {
      margin-left: 6rem;

    }


    .Xero-icon {

    }




  }






  @media only screen and (max-width: 1024px) {
    .section-title-box-left{
      /* background-color: red; */
      margin-left: 10rem;
    }

    .Hero-image {
      margin-left: 45rem;
      margin-bottom: 10rem;
    }

  }



  @media only screen and (max-width: 1300px) {


    .section-title-box-left {
      width: 40rem;
      /* background-color: red; */
      margin-left: 2.8rem;
    }

    .section-title {
      /* background-color: red; */
      font-size: 1.5rem;
      width: 20rem;
      line-height: 3rem;
    }

    .home-notes {
      font-size: 0.8rem;
      /* color: red; */
    }

    .greenbox {
      margin-top: -5.5rem;
      height: 0.8rem;
      width: 14.5rem;
    }

    .Hero-image {
      /* background-color: red; */
      height: 21rem;
      width: 30rem;
    }

    .Myob-icon {
      margin-left: 20rem;
      height: 3rem;
    }

    .Xero-icon {
      height: 3rem;
      margin-bottom: 5rem;
    }

    #email {
      width: 1rem;
    }

    .home-button {
      height: 2.5rem;
      width: 7rem;
    }

    #get-1 {
      font-size: 0.7rem;
    }

  }
