@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:100&display=swap');

.logo-for-phone {
  display: none;
}

.logo {
  /* background-color: blue; */
  margin-right: 26.2rem;
  margin-left: 5.7rem;
}

/* 
@media only screen and (max-width: 600px) {
  .body{
    background-color: red;
    /* display: none; */
  /* }  */

  /* #menu-wrap {
		display: block;
	} */
/* } */

.logoimage {
  width: 180px;
  /* height: auto; */
  /* margin-right: 1.87rem; */
  /* position: fixed; */
  /* background-color: yellow; */
}

.navbar {
  display: flex;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  /* max-width: 100%; */
  height: 80px;
  padding: 0.5rem;
  /* line-height: 21px; */
  background-color: white;
  font-family: 'Open sans', sans-serif;
  z-index: 10;
  /* box-shadow: 1px 1px 8px #EEF0F4; */

}

.navbox {
  text-align: center;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.navitem {
  display: inline-block;
  list-style-type: none;
  margin-top: 0.8rem;
  padding: 10px 0 25px;
  margin-right: 1rem;
  /* background-color: red; */
}

.navitemdiff {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  margin-top: 0.8rem;
  padding: 10px 0 25px;
  margin-right: 2rem;
  color: #203060;
  /* background-color: red; */
}

.navlink {
  color: rgb(12, 12, 12);
  font-weight: regular;
  text-decoration: none;
  padding: 12px 10px 12px 12px;
  font-size: 18px;
  /* font-family: "roboto"; */
  margin: 1rem;
  color: #203060;
  /* border-radius: 5px; */
}

.contactus {
  font-weight: regular;
  text-decoration: none;
  padding: 12px 10px 12px 12px;
  font-size: 18px;
  /* font-family: "roboto"; */
  margin: 1rem;
  margin-right: 10rem;
  color: #203060;
}

.navlink:hover {
  color: #50e6c5;
}

.contactus:hover {
  color: #50e6c5;
}

.navbarbutton {
  border-color: #50e6c5;
  border-radius: 8px;
  height: 50px;
  width: 180px;
  left: 13px;
  right: 36px;
  font-size: 18px;
  padding: 15px;
  color: #203060;
  /* padding-bottom: 10px; */
  margin-right: 10px;
}

.navbarbutton:hover {
  
    background: #44c9ac;
    color: #fff;
    border-color: #44c9ac;    
    animation: bounce 2.5s infinite; 
   -webkit-animation: bounce 2.5s infinite; 
   -moz-animation: bounce 2.5s infinite; 
   -o-animation: bounce 2.5s infinite; 

}

@-webkit-keyframes bounce {
  0%,  
  100% {
     -webkit-transform: translateY(0);
  } 
  50% {
      -webkit-transform: translateY(-10px);
  }
}
@-moz-keyframes bounce {
  0%, 
  100% {
     -moz-transform: translateY(0);
  }
  50% {
     -moz-transform: translateY(-10px);
  }
}
@-o-keyframes bounce {
  0%,
  100% {
     -o-transform: translateY(0);
  }
  50% {
     -o-transform: translateY(-10px);
  }
}
@keyframes bounce {
  0%,  
  100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
}


@media only screen and (max-width: 1024px) {
  .navbar{
    /* background-color: red; */
    margin-left: -6rem;
  }

  .logo {
    margin-right: 0rem;
  }

}

@media only screen and (max-width: 414px) {
  .body {
    background-color: black;
  }
  .navbar{
    display: none;
  }

  .logo-for-phone {
    display: block;
    height: 7rem;
    width: 10rem;
    background-color: red;
    margin-left: 5rem;
  }

  .logo-image-phone {
    height: 10rem;
  }

}