@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:100&display=swap');

.navbar-container {

    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
}

.logo-box {
    height: 100%;
    width: 20.5%;
    /* background-color: red; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logoimage {
    margin-top: -20px;
    height: 2.78rem;
}

.navbox-for-four {
    display: inline-block;
    /* background-color: yellow; */
    height: 90%;
    width: 80%;
    margin-top: -5px;
    margin-left: 245px;
}

.navlink {
display: inline-block;
list-style-type: none;
/* background-color: green; */

  color: rgb(12, 12, 12);
  font-style: normal;
font-weight: 600;
  text-decoration: none;
  /* padding: 12px 10px 12px 12px; */
  font-size: 18px;
  margin: 0.5rem;
  margin-right: 2rem;
  color: #203060;
}

.pricing-navlink {
    /* background-color: red; */
    margin-bottom: -5px;
}

.navlink:hover {
    color: #50e6c5;
}


.navbarbutton {
    border-color: #50e6c5;
    border-radius: 8px;
    height: 50px;
    width: 180px;
    left: 13px;
    right: 36px;
    font-size: 18px;
    padding: 15px;
    color: #203060;
    margin-right: 10px;
  }




.link-register {
    text-decoration: none;
    color: #203060
  }
  
  .navbarbutton:hover {
    
      background: #50E6C5;
      color: #fff;
      border-color: #50E6C5;    
      animation: bounce 2.5s infinite; 
     -webkit-animation: bounce 2.5s infinite; 
     -moz-animation: bounce 2.5s infinite; 
     -o-animation: bounce 2.5s infinite; 
  
  }
  
  @-webkit-keyframes bounce {
    0%,  
    100% {
       -webkit-transform: translateY(0);
    } 
    50% {
        -webkit-transform: translateY(-10px);
    }
  }
  @-moz-keyframes bounce {
    0%, 
    100% {
       -moz-transform: translateY(0);
    }
    50% {
       -moz-transform: translateY(-10px);
    }
  }
  @-o-keyframes bounce {
    0%,
    100% {
       -o-transform: translateY(0);
    }
    50% {
       -o-transform: translateY(-10px);
    }
  }
  @keyframes bounce {
    0%,  
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
  }
  