.pricing-page {
    font-family: 'Open sans', sans-serif;
    height: 100%;
    width: 100%;
  }

.pricing-container {
    height: 100%;  
    width: 100%;
   
    /* padding: 20px; */
    /* background-color: #F8F8F8; */
    /* background-color: white; */
    /*   
    justify-content: space-evenly;
    align-items: center;
    */
}

.top-box {
    height: 50%;  
    width: 100%;
    /* background-color: red; */

}



/* .pricing-dotted-section {
    margin-top : -350px;
    margin-left: 200px;
    z-index: 4;
}

.pricing-dotted-image {
    margin-left: -2rem;
    z-index: 4;
} */





/* .pricing-image-box {
    height: 40%;
    width: 30%; */
    /* background-color: pink; */
    /* margin-top: -15.5rem;
    margin-left: 29rem;
} */

/* .pricing-icon { */
    /* height: 70%;
    width: 10%; */
    /* z-index: 5;

} */
