.reminders-section-title {
    margin-left: 30px;
    font-size: 40px;
    text-align: left;
    /* background-color: green; */
    height: 65px;
    width: 800px;
    font-family: 'Open sans', sans-serif;
    font-weight: 700;
    line-height: 68px;
    color: #203060;
    margin-top: 9rem;
  }


  .reminders-section {
    height: 90vh;  
    width: 100%;
    margin: 0px;
    /* padding: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -4rem;
    /* background-color: red; */
/*   
    justify-content: space-evenly;
    align-items: center;
   */
  }

  .reminders-notes {
    /* height: 20vh;   */
    font-size: 18px;
    height: 80px;
    padding: 2px;
    width: 70%;
    text-align: left;
    color: rgba(35, 44, 68, 0.78);
    /* background-color: blue; */
    margin-left: 1.6rem;
    margin-top: 0rem;
    line-height: 31px;
  }

  .reminders-button {
    height: 56px;
    width: 180px;
    background-color: white;
    color: #203060;
    /* display: flex;
    justify-content: center; */
    margin-left: 1.5rem;
    margin-top: 1.5rem;
    border-radius: 8px; 
    /* text-align: center; */
    box-shadow: none;
    border: solid #50E3C2 1px;
    /* padding-bottom: 10px; */
}


.reminders-button:hover {
  
  background: #44c9ac;
  color: #fff;
  border-color: #44c9ac;    
  animation: bounce 2.5s infinite; 
 -webkit-animation: bounce 2.5s infinite; 
 -moz-animation: bounce 2.5s infinite; 
 -o-animation: bounce 2.5s infinite; 

}

@-webkit-keyframes bounce {
0%,  
100% {
   -webkit-transform: translateY(0);
} 
50% {
    -webkit-transform: translateY(-10px);
}
}
@-moz-keyframes bounce {
0%, 
100% {
   -moz-transform: translateY(0);
}
50% {
   -moz-transform: translateY(-10px);
}
}
@-o-keyframes bounce {
0%,
100% {
   -o-transform: translateY(0);
}
50% {
   -o-transform: translateY(-10px);
}
}
@keyframes bounce {
0%,  
100% {
    transform: translateY(0);
}
50% {
    transform: translateY(-10px);
}
}


.reminders-Hero-image {
  margin-top: 10rem;
  margin-right: 6rem;
}
  

@media only screen and (max-width: 1300px) {

  .reminders-section-title {
      /* background-color: red; */
      /* margin-left: -8rem; */
      font-size: 1.5rem;
      width: 30rem;
      line-height: 2.7rem;
  }
  
  
  .reminders-notes {
      font-size: 0.78rem;
  
  }
  
  .reminders-button {
      height: 2.4rem;
      width: 6.7rem;
      font-size: 0.45rem;
      margin-top: 1rem;
    }
    
    .reminders-Hero-image {
      margin-top: 14rem;
      margin-right: 0rem;
      height: 17rem;
    }
    
  
  
  }