.savetime-page{
  height: 100%;
  width: 100%;
  /* background-color: blue; */
}

.save-time-section {
  height: 100%;
  width: 100%;
  /* background-color: blue; */
}

.savetime-section-title-box-left {
  /* background-color: purple; */
  height: 100%;
  width: 50%;
  float: left;
}

.savetime-section-content {
  float: right;
  /* background-color: green; */
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
}

.savetime-section-title {
    margin-left: 100px;
    font-size: 40px;
    text-align: left;
    /* background-color: green; */
    height: 65px;
    width: 650px;
    font-family: 'Open sans', sans-serif;
    font-weight: 700;
    line-height: 68px;
    color: #203060;
    margin-top: 9rem;
  }

.dotted-image {
 
}


.time {
    color: #50E3C2;
}

.cost {
    color: #50E3C2;
}

.savetime-button {
    height: 56px;
    width: 180px;
    background-color: white;
    color: #203060;
    /* display: flex;
    justify-content: center; */
    margin-left: 100px;
    margin-top: 3.5rem;
    border-radius: 8px; 
    /* text-align: center; */
    box-shadow: none;
    border: solid #50E3C2 1px;
    /* padding-bottom: 10px; */
}

.savetime-notes {
  /* height: 20vh;   */
  font-size: 18px;
  height: 80px;
  padding: 2px;
  width: 60%;
  text-align: left;
  color: rgba(35, 44, 68, 0.78);
  /* background-color: blue; */
  margin-left: 100px;
  line-height: 190%;
}

.savetime-Hero-image {
  margin-top: 5rem;
  height: 50vh;
  /* margin-right: 8rem; */
}

.savetime-button:hover {
  
    background: #50E6C5;
    color: #fff;
    border-color: #50E6C5;    
    animation: bounce 2.5s infinite; 
   -webkit-animation: bounce 2.5s infinite; 
   -moz-animation: bounce 2.5s infinite; 
   -o-animation: bounce 2.5s infinite; 

}

@-webkit-keyframes bounce {
  0%,  
  100% {
     -webkit-transform: translateY(0);
  } 
  50% {
      -webkit-transform: translateY(-10px);
  }
}
@-moz-keyframes bounce {
  0%, 
  100% {
     -moz-transform: translateY(0);
  }
  50% {
     -moz-transform: translateY(-10px);
  }
}
@-o-keyframes bounce {
  0%,
  100% {
     -o-transform: translateY(0);
  }
  50% {
     -o-transform: translateY(-10px);
  }
}
@keyframes bounce {
  0%,  
  100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
}


.dotted-section {
    /* background-color: red;  */
    /* height: 350px;
    /* width: 350px; */
     margin-right: 90rem; 
    
}


@media only screen and (max-width: 1300px) {

.savetime-section-title {
  font-size: 1.5rem;
  width: 25rem;
  line-height: 2.7rem;
}

.savetime-notes {
  font-size: 0.78rem;
  width: 26rem;
}

.savetime-button {
  height: 2.4rem;
  width: 6.7rem;
  font-size: 0.45rem;
  margin-top: 2rem;
}

.savetime-Hero-image {
  margin-top: 14rem;
}

.dotted-image {
  margin-left: 18rem;
}


}


@media only screen and (max-width: 1400px) {

  .savetime-section-title {
    font-size: 1.5rem;
    width: 25rem;
    line-height: 2.7rem;
  }
  
  .savetime-notes {
    font-size: 0.78rem;
    width: 26rem;
  }
  
  .savetime-button {
    height: 2.4rem;
    width: 6.7rem;
    font-size: 0.45rem;
    margin-top: 2rem;
  }
  
  .savetime-Hero-image {
    margin-top: 14rem;
  }
  
  .dotted-image {
    margin-left: 18rem;
  }
  
  
  }



@media only screen and (max-width: 1500px) {

  .savetime-section-title {
    font-size: 1.5rem;
    width: 25rem;
    line-height: 2.7rem;
  }
  
  .savetime-notes {
    font-size: 0.78rem;
    width: 26rem;
  }
  
  .savetime-button {
    height: 2.4rem;
    width: 6.7rem;
    font-size: 0.45rem;
    margin-top: 2rem;
  }
  
  .savetime-Hero-image {
    margin-top: 14rem;
  }
  
  .dotted-image {
    margin-left: 18rem;
  }
  
  
  }
  
  


@media only screen and (max-width: 1680px) {

    
.dotted-section {
 /* background-color: red; */
 margin-right: 74rem;
}

}