@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Roboto:100,300,400,500,700,900&display=swap');


body{
  padding: 0;
  margin:0;
}
.App{
  width: 100vw;
  height: 100vh;
  margin: auto;
  position: relative;
  /* overflow: hidden; */
}

.Navbar {
  position: fixed;
  /* background-color: red; */
  height: 14vh;
  width: 100vw;
}

.Homesection {
  height: 100vh;
  width: 100vw;
}

/* // hiw section */
.HIWsection {
  height: 90vh;
  width: 100vw;
  background-color: #F8F8F8;
}

.hiw-title-box {
  /* margin-left: 30px; */
  font-size: 50px;
  /* text-align: left; */
  /* background-color: green; */
  height: 14rem;
  width: 100%;
  font-family: 'Open sans', sans-serif;
  font-weight: 700;
  line-height: 68px;
  color: #203060;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.icon-container {
  height: 100%;
  width: 100%;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* justify-content: space-evenly; */

}

.hiw-icon {
  height: 52vh;
}

/* pricing section */

.Pricingsection {
  height: 80vh;
  width: 100vw;

  /* background-color: red; */
}

.pricing-image-box {
    background-color: #203060;
    height: 42vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.pricing-icon {
  height: 60vh;
  margin-top: 110px;
}

.bottom-pricing-box {
  height: 50%;  
  width: 100%;
  /* background-color: red; */
}

.pricing-dotted-image {
  margin-top: 10%;
  width: 35%;
  margin-left: 1%;
}
.PIsection {
  height: 100vh;
  width: 100vw;
}

.Savetimesection {
  height: 85vh;
  width: 100vw;
  /* background-color: red; */
}
.Invoicesection {
  height: 80vh;
  width: 100vw;
  /* background-color: red; */
}
.Remindersection {
  height: 80vh;
  width: 100vw;
}
.Magicsection {
  height: 80vh;
  width: 100vw;
}
.Slidersection {
  height: 20vh;
  width: 100vw;
}

.Footersection {
  height: 100vh;
  width: 100vw;
  /* position: fixed; */
}

/* .App {
  text-align: center;
} */
/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
