@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Roboto:100,300,400,500,700,900&display=swap');


body{
  padding: 0;
  margin:0;
}
.App{
  width: 100vw;
  height: 100vh;
  margin: auto;
  position: relative;
  /* overflow: hidden; */
}

.Navbar {
  position: fixed;
}

.Homesection {
  height: 100vh;
  width: 100vw;
}

.HIWsection {
  height: 80vh;
  width: 100vw;
}

.Pricingsection {
  height: 80vh;
  width: 100vw;

  /* background-color: red; */
}

.pricing-image-box {
    background-color: #203060;
    height: 42vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.pricing-icon {
  height: 60vh;
  margin-top: 70px;
}

.PIsection {
  height: 100vh;
  width: 100vw;
}

.Savetimesection {
  height: 100vh;
  width: 100vw;
}
.Invoicesection {
  height: 80vh;
  width: 100vw;
}
.Remindersection {
  height: 80vh;
  width: 100vw;
}
.Magicsection {
  height: 80vh;
  width: 100vw;
}
.Slidersection {
  height: 20vh;
  width: 100vw;
}

.Footersection {
  height: 100vh;
  width: 100vw;
  /* position: fixed; */
}

/* .App {
  text-align: center;
} */
/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
