@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Roboto:100,300,400,500,700,900&display=swap');

body{
  padding: 0;
  margin:0;
}
.App{
  width: 100vw;
  height: 100vh;
  margin: auto;
  position: relative;
  /* overflow: hidden; */
}

/* .HomeforPhone {
  height: 100vh;
  width: 100vw;
  background-color: red;
} */


.Navbar {
  position: fixed;
  background-color: white;
  height: 11.5vh;
  width: 100vw;
}


.Homesection {
  height: 100vh;
  width: 100vw;
}

.HomeforPhone-container {
  display: none;
}

.hero-image-container {
  display: none;
}

/* // hiw section */
.HIWsection {
  height: 84vh;
  width: 100vw;
  background-color: #F8F8F8;
}

.hiw-title-phone {
  display: none;
}

.firsticon-container {
  display: none;
}

.secondicon-container {
  display: none;
}

.thirdicon-container {
  display: none;
}

.hiw-title-box {
  /* margin-left: 30px; */
  font-size: 50px;
  /* text-align: left; */
  /* background-color: green; */
  height: 14rem;
  width: 100%;
  font-family: 'Open sans', sans-serif;
  font-weight: 700;
  line-height: 68px;
  color: #203060;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.icon-container {
  height: 100%;
  width: 100%;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* justify-content: space-evenly; */

}

.hiw-icon {
  height: 52vh;
}

/* pricing section */

.Pricingsection-forphone {
  display: none;
}


.Pricingsection {
  height: 100vh;
  width: 100vw;

  /* background-color: red; */
}

.pricing-image-box {
    background-color: #203060;
    height: 42vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.pricing-icon {
  height: 60vh;
  margin-top: 110px;
}

.bottom-pricing-box {
  height: 50%;  
  width: 100%;
  /* background-color: red; */
}

.pricing-dotted-image {
  margin-top: 10%;
  width: 35%;
  margin-left: 1%;
}
.PIsection {
  height: 100vh;
  width: 100vw;
}

.Pisection-forphone {
  display: none;
}

.fourmainsections-phone {
  display: none;

}

.Savetimesection {
  height: 75vh;
  width: 100vw;
  /* margin-top: -5rem; */
 /* background-color: red;  */
}
.Invoicesection {
  /* margin-top: -5rem; */
  height: 80vh;
  width: 100vw;
  /* background-color: red; */
}
.Remindersection {
  height: 80vh;
  width: 100vw;
}
.Magicsection {
  height: 80vh;
  width: 100vw;
}
.Slidersection {
  height: 20vh;
  width: 100vw;
}

.footer-phone-section {
  display: none;
}

.Footersection {
  height: 120vh;
  width: 100vw;
  /* background-color: blue; */
  /* position: fixed; */
}

.footer-container {
  height: 100%;
  width: 100%;
  /* background-color: green; */
}

.footer-topbox {
  height: 40%;
  width: 100%;
  background-color: #203060;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-details-container {
  height: 100%;
  width: 66rem;
  margin-top: 16rem;
  background-color: white;
  box-shadow: -8px -8px 29px rgba(194, 207, 241, 0.109488), 6px 6px 29px rgba(194, 207, 241, 0.220533);
}

.footer-details-notes {
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #203060;
  margin-top: 2.3rem;
  /* background-color: blue; */
}

.footer-email-form {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 2.5rem;
  margin-right: 30px;
  font-family: 'Open sans', sans-serif;
  /* background-color: red; */
}

#footer-email {
  width: 20rem;
  height: 2.5rem;
  border-radius: 5px;
  padding: 0.25rem;
  padding-left: 20px;
  background: transparent;
  border-top: 1.5px solid !important;
  border-left: 1.5px solid !important;
  border-right: transparent !important;
  border-bottom: 1.5px solid !important;
  /* border: 1.5px solid !important; */
  font-weight: 200;
  color: #50E3C2;
  box-shadow: none;
  text-decoration: none;
  font-size: 0.8rem;
  font-family: 'Open sans', sans-serif;
    /* border-bottom: solid black 5px; */
}

.footer-button-container {
  height: 3.2rem;
  width: 142px;
  background-color: #50E3C2;
  color: #203060;
  display: flex;
  justify-content: flex-start;
  margin-left: -10px;
  margin-top: 2rem;
  border-radius: 0px 5px 5px 0px; 
  text-align: center;
  box-shadow: none;
  border: solid #50E3C2 1px;
}

#footer-button {
  
  padding-left: 21px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: none;
  font-family: 'Open sans', sans-serif;
  /* border: solid #50E3C2; */
   /* text-align: center;
         color: green; */
}




.footer-lowerbox {
  height: 57%;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* back to top box */

.back-to-top {
  margin-top: 6rem;
  height: 30%;
  width: 100%;
  /* background-color: purple; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.chevron-up {
  margin-bottom: 6rem;
  color: #50E6C5;
}

/* footer navbox  */

.footer-middlebox {
  height: 10%;
  width: 100%;
  /* background-color: green; */
}
 
.footer-navbox {
  height: 30%;
  width: 100%;
  margin-left: -16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-navitem {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  margin-top: 0.8rem;
  /* padding: 10px 0 25px; */
  margin-right: 2rem;
   /* background-color: red; */
}

.details-luca-logo {
  /* background-color: red; */
  height: 2.5rem;
  margin-bottom: 0.3rem;
}

.hiw-luca-logo {
  margin-left: 1rem;
  margin-right: 0.3rem;
}

.middlebox {
  height: 40%;
  width: 100%;
  background-color: white;
}

#footer-button {
  margin-top: 1rem;
}


#footer-button:hover {
   
    color: white;
  
}
/* social media box */

.footer-social-media-container {
  height: 60%;
  width: 100%;
  /* background-color: purple; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.footer-sm-box {

  height: 100%;
  width: 100%;
}

.twitter {
  margin-right: 1rem;

}

.insta {
  margin-right: 1rem;
}

.second-last-copyright-box {
  /* background-color: red; */
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.copyright-font {
  font-size: 0.7rem;
}


.footer-lowestbox {
  height: 3%;
  width: 100%;
  background-color: #203060;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: regular;
}

.most-bottom-font {
  font-size: 11px;
  color:  #6D7797;
}


.footer-logo-box {
  display: flex;
  flex-direction: row;
  /* background-color: yellow; */
  margin-left: 90px;
  margin-right: 90px;
}

.footer-luca-logo {
  height: 2.2rem;
  margin-left: -4rem;
  /* margin-right: 2.5rem;
  margin-left: -1rem; */
  /* background-color: yellow; */
}
/* .App {
  text-align: center;
} */
/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


/* 
@media only screen and (max-width: 500px) {
  .Navbar {
    display: none;
  }

  .logo-box {
    display: none;
  }
} */


@media only screen and (max-width: 500px) {

  body
  {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* make it look decent enough */
    /* background: grey; */
    /* color: #cdcdcd;
    font-family: "Avenir Next", "Avenir", sans-serif; */
  }

    .Navbar {
      display: none;
    }

    .Homesection {
      display: none;
    }
 
    .HomeforPhone-container {
      display: block;
      height: 100%;
      width: 100%;
      /* background-color: red; */
    }

    .hamburgermenu-container {
      height: 8.5%;
      display: flex;
      justify-content: flex-end;
      /* background-color: green; */
      width: 100%;
    }

    .hamburgermenu {
      height: 3rem;
      /* background-color: blue; */
      width: 3rem;
      margin-top: 1.5rem;
    }

    .Lucaforphone-logocontainer {
      height: 10%;
      /* background-color: pink; */
      width: 100%;
      display: flex;
      justify-content: center;
    
    }

    .luca-logo-phone {
      height: 4rem;
    }

    .luca-home-title-container {
      height: 80%;
      /* background-color: orange; */
      width: 100%;
      margin-top: -1.8rem;
      /* display: flex;
      justify-content: center;
      align-items: center; */
    }

    .luca-section-title {
      font-family: Open Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 1.3rem;
      line-height: 2rem;
      text-align: center;
      padding: 0rem 0.1rem 0rem 0.1rem;
      color: #203060;
      
    }

    .phone-form-inline {
      
        margin-top: -0.2rem;
    }

    .phone-home-button {
      height: 2.8rem;
      width: 13rem;
      background-color: #50E3C2;
      color: #203060;
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      /* display: flex;
      justify-content: center; */
      /* margin-left: 1.5rem; */
      margin-top: 1rem;
      border-radius: 0.3rem; 
      /* text-align: center; */
      box-shadow: none;
      border: solid #50E3C2 1px;
      /* padding: 0rem 0.5rem 0rem 0.5rem; */
    }
    
    .getstarted-phone {
      color: #203060;
      text-decoration: none;
  
    }

    #get-phone {
      font-size: 0.9rem;
      margin-bottom: 2rem;
    }

    #phone-emaill {
      width: 15rem;
      padding-bottom: 0.2rem;
      background: transparent;
      
      border-top: transparent !important;
      border-left: transparent !important;
      border-right: transparent !important;
      border-bottom: 0.1rem solid !important;
      font-weight: 300;
      color: #50E3C2;
      padding-left: 0;
      box-shadow: none;
      text-decoration: none;
      letter-spacing: 2px;
      font-size: 0.9rem;
      
    }
    /* .luca-home-notes-container {
      height: 30rem;
      background-color: olivedrab;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    } */

    .luca-home-notes {
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 160%;
      text-align: center;
      padding: 0rem 0.5rem 0rem 0.5rem;
      color: rgba(35, 44, 68, 0.78);
      
    }

    .MYOBbutton-phone {
      height: 10%;
      width: 100%;
      /* background-color: #203060; */
      
    }

    .MYOBbutton-image-phone {
      height: 110%;
      width: 100%;
    }

    .Xerobutton-phone {
      height: 10%;
      width: 100%;
      /* background-color: greenyellow; */
    }

    .XERObutton-image-phone {
      height: 110%;
      width: 100%;
    }

    .hero-image-container {
      display: block;
      height: 44vh;
      width: 100%;
      /* background-color: purple; */
      display: flex;
      justify-content: flex-end;
      /* align-items: flex-start; */
      margin-top: -4rem;
    }

    .hero-image-phone {
      margin-bottom: 0.5rem;
      height: 90%;
      width: 90%;
      margin-right: 0.1rem;
    }

    /* hiw section */

    .HIWsection {
      background-color: white;
      height: 100%;
      width: 100%;
    }

    .hiw-title-box {
      /* background: green; */
      height: 4rem;
    }

    .hiw-title-phone {
      display: flex;
      justify-content: center;
      /* background-color: red; */
      width: 100%;
      height: 100%;
      font-size: 1rem;
    }

    .hiw-luca-logo-phone {
      display: block;
      margin-left: 1rem;
      margin-right: 0.8rem;
      height: 1.5rem;
      margin-top: 0.6rem;
      /* background-color: green; */
    }

    .firsticon-container {
      display: block;
      /* background-color: orange; */
      height: 25%;
      width: 100%;
      display: flex;
      justify-content: center;
      /* align-items: flex-end; */
    }
    
    .firsthiw-icon {
      margin-top: 2rem;
      height: 120%;
      width: 80%;
      /* margin-left: 0.8rem; */
    }

    .secondicon-container {
      display: block;
      /* background-color: orange; */
      height: 25%;
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 3rem;
      /* align-items: flex-end; */
    }

    .secondhiw-icon {
      margin-top: 2rem;
      height: 120%;
      width: 80%;
      /* margin-left: 0.8rem; */
    }

    .thirdicon-container {
      display: block;
      /* background-color: orange; */
      height: 25%;
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 3rem;
     
      /* align-items: flex-end; */
    }
    
    .thirdhiw-icon {
      margin-top: 2rem;
      height: 120%;
      width: 80%;
      /* margin-left: 0.8rem; */
    }

    .hiw-title {
      display: none;
    }

    .icon-container {
      display: none;
    }

    .Pricingsection {
      display: none;
    }

    .Pricingsection-forphone {
      display: block;
      /* background-color: purple; */
      height: 55vh;
      width: 100%;
      margin-top: 3rem;
    }

    .pricing-image-box-phone {
      background-color: #203060;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .pricing-icon-phone {
      height: 90%;
      width: 90%;
    }

    .PIsection {
      display: none;
    }

    .Pisection-forphone {
      display: block;
      /* background-color: red; */
      height: 100vh;
      width: 100%;
    }

    .pi-image-box {
      background-color: white;
      height: 40%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .pi-image-phone {
      height: 82%;
    }

    .pi-bottom-container {
      background-color: #203060;
      height: 60%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .pi-annoying-box-phone {
      background-color: #50E6C5;
      height: 80%;
      width: 80%;
    }

    .pi-section-title-phone {
      font-size: 0.8rem;
      padding: 0rem 2rem 0rem 2rem;
      font-family: Open Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 0.7rem;
      line-height: 22px;
      color: #2C4584;
    }

    .pi-notes-phone {
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 0.6rem;
      line-height: 22px;
      color: #FFFFFF;
      padding: 0rem 2rem 0rem 2rem;
    }

    .pi-button-phone {
        height: 13.5%;
        width: 66%;
        /* font-size: 10%; */
        background-color: white;
        color: #203060;
        margin-left: 2rem;
        margin-top: 1.5rem;
        border-radius: 8px; 
        /* text-align: center; */
        box-shadow: none;
        border: solid #50E3C2 1px;
    }

    #pi-get-phone {
      padding: 0rem 0rem 0rem 0rem;
      font-size: 0.7rem;
    }

    .Savetimesection {
      display: none;
    }

    .fourmainsections-phone {
      display: block;
      height: 200vh;
      width: 100%;
      /* background-color: red; */
    
    }

    .savetime-section {
      height: 16%;
      width: 100%;
      background-color: white;
      display: flex;
      justify-content: center;
    }

    .savetime-words {
      background-color: white;
      height: 20%;
      width: 100%;
      margin-top: -2rem;
      display: flex;
      justify-content: center;
    }

    .savetime-title-phone {
      /* margin-left: 100px; */
      font-size: 1rem;
      text-align: center;
      /* background-color: green; */
      height: 65px;
      width: 80%;
      font-family: 'Open sans', sans-serif;
      font-weight: 700;
      line-height: 160%;
      color: #203060;
      /* margin-top: 9rem; */
    }

    .savetime-notes-phone {
      font-size: 0.7rem;
      height: 180%;
      margin-top: 1rem;
      /* padding: 2px; */
      width: 100%;
      text-align: center;
      color: rgba(35, 44, 68, 0.78);
      /* background-color: blue; */
      line-height: 190%;
      margin-bottom: 0.2rem;
    }


    .phone-savetime-button {
      height: 2.5rem;
      width: 16rem;
      background-color: #50E3C2;
      color: #203060;
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      /* display: flex;
      justify-content: center; */
      /* margin-left: 1.5rem; */
      /* margin-top: 5rem; */
      border-radius: 0.3rem; 
      /* text-align: center; */
      box-shadow: none;
      border: solid #50E3C2 1px;
    }

    #get-phone-savetime {
      color: #203060;
      text-decoration: none;
      font-size: 0.8rem;
    }

    .savetime-phone-icon {

    }
    
    .Invoicesection {
      display: none;
    }

    .invoice-section-phone {
      /* margin-top: 10rem; */
      height: 15%;
      width: 100%;
      background-color: white;
      display: flex;
      justify-content: center;
      
    }
    
    .invoice-words {
      background-color: white;
      height: 20%;
      width: 100%;
      margin-top: -2rem;
      display: flex;
      justify-content: center;
    }

    .invoice-phone-icon {
        height: 180%;
        width: 130%;
    }

    .invoice-title-phone {
      /* margin-left: 100px; */
      font-size: 1rem;
      text-align: center;
      /* background-color: green; */
      height: 20%;
      width: 80%;
      font-family: 'Open sans', sans-serif;
      font-weight: 700;
      line-height: 160%;
      color: #203060;
    }

    .invoice-notes-phone {
      font-size: 0.7rem;
      height: 180%;
      /* padding: 2px; */
      width: 100%;
      text-align: center;
      color: rgba(35, 44, 68, 0.78);
      /* background-color: blue; */
      line-height: 190%;
      margin-top: 1rem;
    }


    .phone-invoice-button {
      height: 2.5rem;
      width: 16rem;
      background-color: #50E3C2;
      color: #203060;
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      /* display: flex;
      justify-content: center; */
      /* margin-left: 1.5rem; */
      /* margin-top: 5rem; */
      border-radius: 0.3rem; 
      /* text-align: center; */
      box-shadow: none;
      border: solid #50E3C2 1px;
    }

    #get-phone-invoice {
      color: #203060;
      text-decoration: none;
      font-size: 0.8rem;
    }

    .Remindersection {
      display: none;
    }


    .reminders-section-phone {
      height: 16%;
      width: 100%;
      background-color: white;
      display: flex;
      justify-content: center;
    }

    .reminders-words {
      background-color: white;
      height: 20%;
      width: 100%;
      margin-top: -2rem;
      display: flex;
      justify-content: center;
    }

    .reminders-title-phone {
      /* margin-left: 100px; */
      font-size: 1rem;
      text-align: center;
      /* background-color: green; */
      height: 65px;
      width: 80%;
      font-family: 'Open sans', sans-serif;
      font-weight: 700;
      line-height: 160%;
      color: #203060;
      /* margin-top: 9rem; */
    }

    .reminders-notes-phone {
      font-size: 0.7rem;
      height: 150%;
      /* padding: 2px; */
      width: 100%;
      text-align: center;
      color: rgba(35, 44, 68, 0.78);
      /* background-color: blue; */
      line-height: 190%;
      margin-top: 0.5rem;
    }


    .phone-reminders-button {
      height: 2.5rem;
      width: 16rem;
      background-color: #50E3C2;
      color: #203060;
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      /* display: flex;
      justify-content: center; */
      /* margin-left: 1.5rem; */
      /* margin-top: 5rem; */
      border-radius: 0.3rem; 
      /* text-align: center; */
      box-shadow: none;
      border: solid #50E3C2 1px;
    }

    #get-phone-reminders {
      color: #203060;
      text-decoration: none;
      font-size: 0.8rem;
    }

    .Magicsection {
      display: none;
    }

    .magic-section-phone {
      height: 16%;
      width: 100%;
      background-color: white;
      display: flex;
      justify-content: center;
    }

    .magic-words {
      background-color: white;
      height: 20%;
      width: 100%;
      margin-top: -2rem;
      display: flex;
      justify-content: center;
    }

    .magic-title-phone {
      /* margin-left: 100px; */
      font-size: 1rem;
      text-align: center;
      /* background-color: green; */
      height: 65px;
      width: 80%;
      font-family: 'Open sans', sans-serif;
      font-weight: 700;
      line-height: 160%;
      color: #203060;

    }

    .magic-notes-phone {
      font-size: 0.7rem;
      height: 100%;
      /* padding: 2px; */
      width: 100%;
      text-align: center;
      color: rgba(35, 44, 68, 0.78);
      /* background-color: blue; */
      line-height: 190%;
      margin-top: 1rem;
    }


    .phone-magic-button {
      height: 2.5rem;
      width: 16rem;
      background-color: #50E3C2;
      color: #203060;
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      /* display: flex;
      justify-content: center; */
      /* margin-left: 1.5rem; */
      /* margin-top: 5rem; */
      border-radius: 0.3rem; 
      /* text-align: center; */
      box-shadow: none;
      border: solid #50E3C2 1px;
    }

    #get-phone-magic {
      color: #203060;
      text-decoration: none;
      font-size: 0.8rem;
    }


    .Slidersection {
      display: none;
    }


    .slider-image-phone {
      /* background-color: red; */
      height: 5%;

    }

    .partner-image {
      height: 105%;
      width: 105%;
     
    }

    .footer-phone-section {
      display: block;
      /* background-color: blue; */
      height: 37vh;
      width: 100%;
      margin-top: 35rem;
    }

    .Footersection {
      display: none;
    }

    .footer-phone-container {
      height: 100%;
      /* background-color: blue; */
    }

    .footertopbox {
      height: 15vh;
      background-color: #203060;
      display: flex; 
      align-items: flex-start;
      justify-content: center; 
    
    }

    .footer-details-notes-phone {
      height: 2.5rem;
      font-size: 0.7rem;
      width: 8rem;
      /* background-color: red; */
      /* display: flex; */
      /* justify-content: center;
      align-items: flex-end; */
      color: #203060;
      margin-left: 4.5rem;
      margin-top: 1.6rem;
    }

    .details-luca-logo-phone {
      height: 30%;
    }

    .footer-email-form-phone {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      font-family: 'Open sans', sans-serif;
      /* background-color: red; */
    }

    #footer-email-phone {
      width: 9rem;
      height: 1rem;
      border-radius: 5px;
      padding: 0.25rem;
      padding-left: 10px;
      background: transparent;
      border-top: 1.5px solid !important;
      border-left: 1.5px solid !important;
      border-right: transparent !important;
      border-bottom: 1.5px solid !important;
      border: 1.5px solid !important;
      font-weight: 400;
      color: #50E3C2;
      box-shadow: none;
      text-decoration: none;
      font-size: 0.5rem;
      font-family: 'Open sans', sans-serif;
      
        /* border-bottom: solid black 5px; */
    }

    .footer-button-container-phone{
      height: 1.67rem;
      width: 3.5rem;
      background-color: #50E3C2;
      color: #203060;
      /* display: flex; */
      /* justify-content: flex-start; */
      /* margin-left: 10px; */
      margin-top: 0.05rem;
      border-radius: 5px 5px 5px 5px; 
      text-align: center;
      box-shadow: none;
      border: solid #50E3C2 1px;
    }

    #footer-button-phone {
      font-size: 0.4rem;
    }

    .footermiddlebox {
      height: 40%;
      background-color: white;
      display: flex;
      align-items: flex-end;
      margin-bottom: 1rem;
    }

    .footer-socialmediabox-phone {
      height: 32%;
      width: 100%;
      /* background-color: purple; */
      
    }

    .footer-social-media-container-phone {
      height: 100%;
      /* background-color: blue; */
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .twitter-phone {
      margin-right: 1rem;
      height: 10%;
      width: 50%;
    }

    .insta-phone {
      margin-right: 1rem;
      height: 10%;
      width: 50%;
    }

    .facebook-phone {
      height: 10%;
      width: 78%;
    }

    .footerbottombox {
        height: 13vh;
        background-color: #203060;
    }

    .detailsboxcontainer-phone {
      margin-top: 2rem;
      height: 20vh;
      width: 40vh;
      background-color: white;
      box-shadow: -8px -8px 29px rgba(194, 207, 241, 0.109488), 6px 6px 29px rgba(194, 207, 241, 0.220533);
      /* display: flex; */
      /* justify-content: center;
      align-items: center;  */
    }

    .footer-navbox-phone {
      height: 3vh;
      background-color: #203060;
      display: flex; 
      justify-content: center;
      align-items: center;  
    }

    .footer-navitem-phone {
      font-size: 0.8rem;
      text-decoration: none;
      display: inline-block;
      list-style-type: none;
      /* margin-top: 0.8rem; */
      /* padding: 10px 0 25px; */
      margin-right: 1rem;
      
    }

    .navlink-phone {
      color: white;
      font-weight: 400;
    }

    .back-to-top-phone {
      background-color: #203060;
      height: 30%;
      display: flex; 
      justify-content: center;
      align-items: flex-end; 
      color: white;
      padding-top: 0.3rem;
    }

    .chevron-up-phone {
      color: #50E3C2;
    }

    .copyright-box-phone {
      background-color: #203060;
      height: 10%;
      display: flex; 
      justify-content: center;
      align-items: center;  
      padding-bottom: 0.2rem;
    }


    .copyright-font-phone {
      font-size: 0.2rem;
      color: white;
    }
}
